.wpat_category_actions {
  display: block;
  background-color: lightblue;
}
.wpat_suggested_category_container {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 2px 4px 2px 2px;
  display: inline-block;
  width: 100%;
}
.wpat_suggested_category_actions {
  display: flex;
}
.wpat_api_error {
  background-color: crimson;
  color: white;
  border-radius: 3px;
  padding: 3px;
}
.wpat_api_error a {
  color: white;
}
.wpat_error_container {
  margin-bottom: 0px;
}
.wpat_suggested_category_actions .wpat_suggested_category_refresh {
  margin-left: 6px;
}
.wpat_suggested_category_actions .components-button.is-small {
  padding: 0 6px;
}
.wpat_suggested_category_actions .components-base-control__field {
  margin-bottom: 0;
}
p.wpat_suggested_category_header {
  font-style: italic;
  margin-bottom: 0;
}
